
//颜色的一些值
$blue: #2693e0;
$l-blue: #40B3FF;
$s-blue: #0065a6;

$red: #e73a3c;

$orange: #fd9b33;
$footer-bg: #f7f8f7;
$border: #dcdcdc;
$nav-border: #d1d1d1;


$content-bg: #f7f7f7;

//字体颜色
$l-word: #333;
$m-word: #666;
$s-word: #999;
$price: #ff5500;

//vw转换单位
$vw: 6.4;

