@import '../../common/style/base/_reset';
@import '../../common/style/base/_color';

@import '../../component/header/header';
@import '../../component/nav/nav';
@import '../../component/side/side';
// @import '../../component/footer/footer';
aside{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:5px;
}
li{
    background-color: blue;
    background-color: blue;
    margin: 10px 20px 10px 20px;
}