<header class="container clear">

    <div class="logo fl">
        <a href="">
            <img src="../../img/logo.png" alt="">
        </a>
    </div>

    <nav class="fl">
        <ul class="clear">
            <li><a href="">首页</a></li>
            <li><a href="">直播课堂</a></li>
            <li><a href="">精品课程</a></li>
            <li><a href="">关于平台</a></li>
        </ul>
    </nav>

    <div class="phone fr">
        <a href="">
            <i class="iconfont icon-shouji"></i>
            <span>手机观看</span>
            <i class="iconfont icon-xiangxiazhankai"></i>
        </a>
        <div class="hover">
            <i></i>
            <img src="../../img/ma.png" alt="">
            <img src="../../img/ma-info.png" alt="">
        </div>
    </div>

</header>